@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
@import "tailwindcss";

body {
  text-align: center;
}

/* Base styles using @layer base to override default styles */
@layer base {
  a {
    @apply hover:underline text-blue-600;
  }
}

/* Component styles using @layer components to create new components using existing tailwind styles */
/* @layer components {
    .btn-primary {
        @apply px-4 py-2 bg-blue-500 text-white rounded;
    }
} */

/* Utility styles using @layer utilities for creating new classes from vanilla css */
/* @layer utilities {
    .custom-underline {
        text-decoration-thickness: 2px;
    }
} */
